exportPattern("^[[:alpha:]]+")
S3method(print,grid_archetypal)
S3method(summary,grid_archetypal)
S3method(plot,grid_archetypal)
S3method(print,closer_grid_archetypal)
S3method(summary,closer_grid_archetypal)
S3method(plot,closer_grid_archetypal)
import(archetypal)
import(parallel)
import(doParallel)
importFrom("utils", "combn", "head")
importFrom("stats", "cor", "pnorm", "quantile")
import(Matrix)
import(distances)
import(scales)
import(mirai)
importFrom("geometry","convhulln","inhulln")
importFrom("grDevices", "chull", "dev.off", "pdf", "rgb")
importFrom("graphics", "abline", "axis", "grid", "plot", "text", "layout", "legend", "lines", "par", "points", "polygon", "segments", "mtext")
importFrom("methods", "as")
importFrom("stats", "aggregate", "dist", "runif", "rexp", "lowess", "coefficients", "lm",  "coef", "predict", "ecdf", "knots", "var")
importFrom("plot3D", "scatter3D", "text3D", "lines3D", "polygon3D") 
importFrom("magrittr","%>%") 
importFrom("dplyr","slice_sample","group_by") 
importFrom("rlang","syms") 
importFrom("abind","abind")
export(fast_archetypal)
export(grid_archetypal)
export(closer_grid_archetypal)
export(points_inside_convex_hull)
export(BLB_archetypal)